@font-face {
    font-family: 'Simplicity';
    src: url('../fonts/Simplicity.ttf') format('truetype');
}

@font-face {
    font-family: 'Unique';
    src: url('../fonts/Unique.ttf') format('truetype');
}

@font-face {
    font-family: 'wind';
    src: url('../fonts/wind.ttf') format('truetype');
}
h1 {
  font-family: 'Simplicity', cursive;
  font-size: 75px;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-family: 'Unique', sans-serif;
  font-size: 30px;
  font-weight: bold;
}

h3 {
  font-family: 'wind', sans-serif;
  font-size: 30px;
  font-weight: bold;
}

p {
  border: 2px solid blue;
  color: blue;
  font-family: 'Noto Sans', sans-serif;
  margin: 15px;
  padding: 15px;
  }

.capital {
  text-decoration: underline;
  text-shadow: 2px 2px 8px #FF0000;
  text-transform: capitalize;
  }
