@font-face {
    font-family: 'Simplicity';
    src: url('../fonts/Simplicity.ttf') format('truetype');
}

@font-face {
    font-family: 'Unique';
    src: url('../fonts/Unique.ttf') format('truetype');
}

@font-face {
    font-family: 'wind';
    src: url('../fonts/wind.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}
/*====================

  Universal styling

======================*/
body {
  background-image: url(../image/lightbluesky.jpg);
}

h1,h2,h3 {
  font-weight: bold;
  text-align: center;
}

h1 {
  font-family: 'Simplicity', cursive;
  font-size: 75px;
}

h2 {
  font-family: 'Unique', sans-serif;
  font-size: 30px;
}

h3 {
  font-family: 'wind', sans-serif;
  font-size: 30px;
}

header {
  background: grey;
  padding: 30px;
}

nav {
  width: 400px;
  margin: 0 auto;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: blue;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Noto Sans', sans-serif;
}

p {
  text-align: center;
  border: 2px solid blue;
  color: blue;
  font-family: 'Noto Sans', sans-serif;
  margin: 15px;
  padding: 15px;
  border-radius: 25px;
  }

.capital {
  margin: 30px;
  text-decoration: underline;
  text-shadow: 2px 2px 8px #FF0000;
  text-transform: capitalize;
  }

  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
